@{
    ViewBag.Title = "Events / Home";

    _ = int.TryParse(ViewBag.paginationId, out int paginationId2);

    int nextPagination = paginationId2 + 1 > ViewBag.paginationCount ? 1 : paginationId2 + 1;
    int previousPagination = paginationId2 - 1 < 1 ? ViewBag.PaginationCount : paginationId2 - 1;
}
@model List<Event>

<div class="bg-[rgb(6.25%,6.25%,6.25%)]">
    <div class="flex flex-col xl:flex-row">
        @* Section - Left *@
        <form class="flex gap-4 bg-black border-b-[1px] lg:border-r-[1px] border-[rgb(25%,25%,25%)] p-3">
            @* Section - Pagination *@
            <div class="w-full flex flex-col items-center lg:items-start">
                @* Section - Filters - Search *@
                <div class="w-full flex p-1 mb-5">
                    <label class="w-full peer relative" for="search">
                        <input id="eSearch"
                            class="peer w-full rounded-[8px] bg-transparent border-[1px] border-[rgb(25%,25%,25%)] focus:border-sky-400 focus:outline-none ps-[34px] pe-[12px] py-[6px]"
                            for="search" name="search" type="search" placeholder="Search ..." value='@(ViewBag.Search ??
                            "")' />
                        <svg class="absolute top-[50%] left-[10px] translate-y-[-50%] fill-[rgb(75%,75%,75%)]"
                            stroke="currentColor" stroke-width="0" viewBox="0 0 512 512" width="16px" height="16px"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7
                    376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144
                    144 0 1 0 0-288 144 144 0 1 0 0 288z">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="w-full flex flex-col gap-4">
                    <div class="flex flex-col items-center lg:items-start">
                        <div class="flex flex-col gap-4">
                            @* Section - Filters - Status *@
                            <div>
                                <h1 class="font-black">Filter By Status</h1>
                                <ul>
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eStatusAll", Name="status", Body="All", Checked=true }' />
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eStatusUpcoming", Name="status", Body="Upcoming", Checked=ViewBag.Status == "eStatusUpcoming" }' />
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eStatusPast", Name="status", Body="Past", Checked=ViewBag.Status == "eStatusPast" }' />
                                </ul>
                            </div>
                            @* Section - Filters - Date *@
                            <div>
                                <h1 class="font-black">Filter By Date</h1>
                                <ul>
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eDateNewest", Name="date", Body="Newest", Checked=true }' />
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eDateOldest", Name="date", Body="Oldest", Checked=ViewBag.Date == "eDateOldest" }' />
                                </ul>
                            </div>
                            @* Section - Filters - Alphabet *@
                            <div>
                                <h1 class="font-black">Filter By Alphabet</h1>
                                <ul>
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eAlphabetNone", Name="alphabet", Body="None", Checked=true }' />
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eAlphabetAZ", Name="alphabet", Body="A - Z", Checked=ViewBag.Alphabet == "eAlphabetAZ" }' />
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eAlphabetZA", Name="alphabet", Body="Z - A", Checked=ViewBag.Alphabet == "eAlphabetZA" }' />
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-full flex flex-col justify-center items-center gap-2">
                        <partial name="~/views/shared/htmllink.cshtml"
                            model='new HtmlLinkVM { Type="btn-events", Body="SUBMIT" }' />
                        <partial name="~/views/shared/htmllink.cshtml"
                            model='new HtmlLinkVM { Type="link-events-filters", URL="/events", Body="RESET FILTERS" }' />
                    </div>
                </div>
            </div>
            @* <div class='hidden lg:block min-w-[1px] bg-neutral-300 -my-5'></div> *@
        </form>
        @* Section - Right *@
        <div class="w-full flex flex-col items-center">
            @* Section - Pagination *@
            <ul class="w-full flex justify-center p-4 lg:p-8">
                <li>
                    <ul
                        class="grid grid-cols-[repeat(@((ViewBag.PaginationCount / 2) + 2),minmax(0,1fr))] lg:grid-cols-[repeat(@(ViewBag.PaginationCount + 2),minmax(0,1fr))] gap-2">
                        @* Section - Button - Left *@
                        <li>
                            <partial name="~/views/shared/htmllink.cshtml"
                                model='new HtmlLinkVM { Type="link-events-pagination-left", URL=$"/events/page/{nextPagination}" }' />
                        </li>
                        @* Section - Links *@
                        @for (var i = @ViewBag.PaginationCount; i > 0; i--)
                        {
                            <li>
                                @* <partial name="~/views/shared/htmlpagination.cshtml"
                            model='new HtmlPaginationVM { Id=i.ToString(), Selected=i.ToString()==ViewBag.PaginationId
                            }' /> *@
                                <partial name="~/views/shared/htmllink.cshtml"
                                    model='new HtmlLinkVM { Type="link-events-pagination-middle", Body=i.ToString(), URL=$"/events/page/{i.ToString()}"  }' />
                            </li>
                        }
                        @* Section - Button - Right *@
                        <li>
                            <partial name="~/views/shared/htmllink.cshtml"
                                model='new HtmlLinkVM { Type="link-events-pagination-right", URL=$"/events/page/{previousPagination}" }' />
                        </li>
                    </ul>
                </li>
            </ul>
            @* Section - Events *@
            @if (Model != null)
            {
                if (Model.Count > 0)
                {
                    <ul id="eEvent" class="w-full grid grid-cols-1 lg:grid-cols-3 gap-4 p-4 pt-0 lg:p-8 lg:pt-0">
                        @foreach (var _event in Model)
                        {
                            <partial name="~/views/shared/htmlevent.cshtml"
                                model='new Event { EventId=_event.EventId, Description=_event.Description, Image=_event.Image, Title=_event.Title, Text=_event.Text, Date=_event.Date, Author=_event.Author, Pinned=_event.Pinned, Comments=_event.Comments, ConvoId=_event.ConvoId }' />
                        }
                    </ul>
                }
                else
                {
                    <div class="size-full flex flex-col justify-center items-center text-center">
                        <h1 class="font-black italic text-5xl lg:text-7xl tracking-wider mb-5">OOPS...</h1>
                        <div class="text-[rgb(37.5%,37.5%,37.5%)]">We couldn't find any events with the given parameters.</div>
                    </div>
                }
            }
        </div>
    </div>
</div>
