@{
    ViewBag.Title = "Events / Home";
}
@model List<Event>

<div class="container m-auto lg:my-20 p-5 lg:p-0">
    <div class="flex flex-col xl:flex-row gap-5">
        @* Section - Left *@
        <form class="h-min flex gap-5 bg-[rgb(95%,95%,95%)] border-[1px] border-[rgb(85%,85%,85%)] lg:mt-20 p-3">
            @* Section - Pagination *@
            <div class="w-full flex flex-col items-center lg:items-start">
                @* Section - Filters - Search *@
                <div class="flex p-1 mb-5">
                    <label class="peer relative" for="search">
                        <input id="eSearch"
                            class="peer w-full rounded-[8px] bg-transparent border-[1px] border-[rgb(80%,80%,80%)] focus:border-[rgb(70%,70%,70%)] focus:outline-none ps-[34px] pe-[12px] py-[6px]"
                            for="search" name="search" type="search" placeholder="Search ..." />
                        <svg class="absolute top-[50%] left-[10px] translate-y-[-50%] fill-[rgb(50%,50%,50%)]
                    peer-focus:fill-black" stroke="currentColor" stroke-width="0" viewBox="0 0 512 512" width="16px"
                            height="16px" xmlns="http://www.w3.org/2000/svg">
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7
                    376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144
                    144 0 1 0 0-288 144 144 0 1 0 0 288z">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="w-full flex flex-col gap-5">
                    <div class="flex flex-col items-center lg:items-start">
                        <div class="flex flex-col gap-5">
                            @* Section - Filters - Status *@
                            <div>
                                <h1 class="font-black">Filter By Status</h1>
                                <ul>
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eStatusAll", Name="status", Body="All", Checked=true }' />
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eStatusUpcoming", Name="status", Body="Upcoming", Checked=false }' />
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eStatusPast", Name="status", Body="Past", Checked=false }' />
                                </ul>
                            </div>
                            @* Section - Filters - Date *@
                            <div>
                                <h1 class="font-black">Filter By Date</h1>
                                <ul>
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eDateNewest", Name="date", Body="Newest", Checked=true }' />
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eDateOldest", Name="date", Body="Oldest", Checked=false }' />
                                </ul>
                            </div>
                            @* Section - Filters - Alphabet *@
                            <div>
                                <h1 class="font-black">Filter By Alphabet</h1>
                                <ul>
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eAlphabetNone", Name="alphabet", Body="None", Checked=true }' />
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eAlphabetAZ", Name="alphabet", Body="A - Z", Checked=false }' />
                                    <partial name="~/views/shared/htmlradio.cshtml"
                                        model='new HtmlRadioVM { Id="eAlphabetZA", Name="alphabet", Body="Z - A", Checked=false }' />
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col items-center justify-center gap-5">
                        <button class="w-full bg-red-600 hover:bg-red-500 font-bold text-white p-5"
                            type="submit">Submit</button>
                        <partial name="~/views/shared/htmllink.cshtml"
                            model='new HtmlLinkVM { URL="/events", Body="Reset Filters" }' />
                    </div>
                </div>
            </div>
            @* <div class='hidden lg:block min-w-[1px] bg-neutral-300 -my-5'></div> *@
        </form>
        @* Section - Right *@
        <div class="w-full flex flex-col items-center">
            @* Section - Pagination *@
            <ul class="w-full flex justify-center gap-3 p-6">
                @* Section - Button - Left *@
                <li>
                    <button>
                        <svg class="fill-red-600 hover:fill-red-500 stroke-1 stroke-red-900 hover:stroke-red-800"
                            stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16"
                            width="32px" height="32px" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 8l7.5 7.5v-4.5h8v-6h-8v-4.5z"></path>
                        </svg>
                    </button>
                </li>
                @* Section - Links *@
                <li>
                    <ul
                        class="grid grid-cols-[repeat(@(ViewBag.PaginationCount / 2),minmax(0,1fr))] lg:grid-cols-[repeat(@ViewBag.PaginationCount,minmax(0,1fr))] gap-3">
                        @for (var i = @ViewBag.PaginationCount; i > 0; i--)
                        {
                            @* model='new HtmlPaginationVM { Id=i.ToString(), Selected=i == ViewBag.PaginationCount ? true :
                        false }' /> *@
                            <partial name="~/views/shared/htmlpagination.cshtml"
                                model='new HtmlPaginationVM { Id=i.ToString(), Selected=i.ToString()==ViewBag.PaginationId }' />
                        }
                    </ul>
                </li>
                @* Section - Button - Right *@
                <li>
                    <button>
                        <svg class="fill-red-600 hover:fill-red-500 stroke-1 stroke-red-900 hover:stroke-red-800"
                            stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16"
                            width="32px" height="32px" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5 8l-7.5-7.5v4.5h-8v6h8v4.5z"></path>
                        </svg>
                    </button>
                </li>
            </ul>
            @* Section - Events *@
            @if (Model != null)
            {
                if (Model.Count > 0)
                {
                    <ul id="eEvent" class="w-full grid grid-cols-1 lg:grid-cols-3 gap-4">
                        @foreach (var _event in Model)
                        {
                            <partial name="~/views/shared/htmlevent.cshtml"
                                model='new Event { EventId=_event.EventId, Description=_event.Description, Image=_event.Image, Title=_event.Title, Text=_event.Text, Date=_event.Date, Author=_event.Author }' />
                        }
                    </ul>
                }
                else
                {
                    <div class="w-full h-full flex flex-col items-center justify-center text-center">
                        <h1 class="font-black italic text-5xl lg:text-7xl mb-5">OOPS...</h1>
                        <div class="text-[rgb(37.5%,37.5%,37.5%)]">We couldn't find any events with the given parameters.</div>
                    </div>
                }
            }
        </div>
    </div>
</div>
