<li>
    <a class='w-full h-full flex justify-center items-center @(Model.Selected ? "text-blue-500 border-blue-500 border-2 hover:border-[3px]" : "text-[rgb(50%,50%,50%)] border-[rgb(85%,85%,85%)] border-[1px] hover:border-2")'
        href="/events/page/@Model.Id">
        @Model.Id
    </a>
</li>
