<div class="flex flex-col items-center justify-center gap-4 bg-[rgb(6.25%,6.25%,6.25%)]
min-h-[calc(100vh-@(ViewBag.BannerTitle != null && ViewBag.BannerDate != null ? "96" : "64")px)]
lg:min-h-[calc(87.5vh-@(ViewBag.BannerTitle != null && ViewBag.BannerDate != null ? "96" : "64")px)]">
    <div class="flex flex-col gap-4 items-center mx-auto">
        <h1 class="w-max font-['Bebas_Neue'] font-black tracking-wider text-nowrap text-7xl lg:text-9xl"
            style="line-height: 0.8;">
            @Html.Raw(Model.Heading)
        </h1>
        <h3 class="font-['Bebas_Neue'] lg:font-black tracking-wider text-wrap text-xl lg:text-4xl"
            style="line-height: 0.8;">
            @Html.Raw(Model.Subheading)
        </h3>
        <p class="font-medium text-center text-xs lg:text-xl">
            @Html.Raw(Model.Body)
        </p>
        <div class='w-full flex flex-col lg:flex-row justify-center gap-4 mx-auto lg:mx-0'>
            <partial name="~/views/shared/htmllink.cshtml"
                model='new HtmlLinkVM { Type="btn-primary", URL="/", Body="RETURN HOME" }' />
        </div>
    </div>
</div>
