<li>
    <input id="@Model.Id" class="peer accent-amber-300 hover:accent-amber-200 select-none cursor-pointer" type="radio"
        for=@Model.Id name=@Model.Name value=@Model.Id @(Model.Checked ? "checked=\"checked\"" : "")>
    <label class="text-[rgb(75%,75%,75%)] peer-hover:text-white select-none cursor-pointer"
        for="@Model.Id">@Html.Raw(Model.Body)</label>
</li>
