@{
    string textRaw = Model.Type;
    string textResult = "";

    foreach (char c in textRaw)
    {
        if (char.IsUpper(c) && textResult.Length > 0) textResult += " ";

        textResult += c;
    }

    var rememberValue = "";

    switch (Model.Type)
    {
        case "Name":
            if (ViewBag.Name != null) rememberValue = ViewBag.Name;
            break;
        case "Username":
            if (ViewBag.Username != null) rememberValue = ViewBag.Username;
            break;
    }
}

<div>
    <div
        class="relative group flex items-center rounded-md border-[1px] border-[rgb(25%,25%,25%)]@(ViewData.ModelState[Model.Type] != null ? " border-rose-400 " : " focus-within:border-sky-400 ")p-4">
        @switch (Model.Type)
        {
            case "Name":
            case "Username":
                <svg class="z-10 absolute text-[rgb(75%,75%,75%)]" stroke="currentColor" fill="currentColor" stroke-width="0"
                    viewBox="0 0 16 16" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1">
                    </path>
                </svg>
                break;
            case "Password":
            case "ConfirmPassword":
                <svg class="z-10 absolute text-[rgb(75%,75%,75%)]" stroke="currentColor" fill="currentColor" stroke-width="0"
                    viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M18 8H20C20.5523 8 21 8.44772 21 9V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V9C3 8.44772 3.44772 8 4 8H6V7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7V8ZM16 8V7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7V8H16ZM11 14V16H13V14H11ZM7 14V16H9V14H7ZM15 14V16H17V14H15Z">
                </svg>
                break;
        }
        <input id=@Model.Type class="peer w-full bg-transparent border-0 focus:outline-none ps-[36px]" name=@Model.Type
            type=@(Model.Type == "Password" || Model.Type == "ConfirmPassword" ? "password" : "text") placeholder=""
            value='@rememberValue' />
        <label
            class="duration-200 ease-in-out absolute group-focus-within:-top-1/4 left-11 group-focus-within:left-[46px] peer-[:not(:placeholder-shown)]:-top-1/4 peer-[:not(:placeholder-shown)]:left-[46px] bg-[rgb(6.25%,6.25%,6.25%)] text-[rgb(75%,75%,75%)] select-none px-2"
            for=@Model.Type>
            @textResult
        </label>
    </div>
    <small class="text-rose-400" for=@Model.Type>
        @Html.ValidationMessage((string)Model.Type)
    </small>
</div>
