<li>
    <a href="/events/page/@Model.Id/">
        <div
            class='w-[32px] flex items-center justify-center border-4 @(Model.Selected ? "bg-black hover:bg-[rgb(25%,25%,25%)] text-white border-black" : "border-black hover:border-[rgb(50%,50%,50%)]")'>
            @Model.Id
        </div>
    </a>
</li>
