/*-- Bacgrounds---*/
#MetronomeBackground {
    min-height: 500px;
    padding-top: 100px;
    background-image: url(../images/DrumImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

:root {
    /* Prevent flickering on page switching */
    background-color: rgb(12.5%, 12.5%, 12.5%);
    color: white;
    /* font-family: 'Inter'; */
    /* font-family: 'Poppins'; */
    /* font-family: "Bebas Neue", sans-serif; */
    /* font-family: 'Lato'; */
    font-family: 'Open Sans';
}

/*-------------*/
.shadow-hack {
    /* Flip vertical direction	*/
    /* --tw-shadow: 0 -25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
    --tw-shadow: 0 -10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/*Admin Stles*/
.center {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

/*Metronome Area*/
.mCard {
    padding: 1.25%;
    margin: 1.20% 15% 1.20% 15%;
    border-radius: 8px;
    background-color: #faf6f094;
    box-shadow: 1px 1.75px 2.5px .5px #6e6c65;
}

.rCard {
    display: flex;
    flex-direction: row;
    padding: 1.25%;
    margin: 1.20% 15% 1.20% 15%;
    border-radius: 8px;
    background-color: #faf6f094;
    box-shadow: 1px 1.75px 2.5px .5px #6e6c65;
    bottom: 25em;
    left: -14%;
    position: fixed;
}

.cCard {
    display: flex;
    flex-direction: column;
    padding: 1.25%;
    margin: 1.20% 15% 1.20% 15%;
    background-color: #faf6f094;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 50%;
}

.mbtn {
    background-color: white;
    color: black;
    border-radius: 40%;
    border: 2px solid #555555;
}

.mbtn:hover {
    background-color: #555555;
    color: white;
}

.metronome-body {
    font-family: sans-serif;
    text-align: center;
    color: black;
}

.metronome-display {
    font-size: 32px;
}

.controls {
    display: flex;
    justify-content: center;
}

.uiBtn {
    padding: 1.25%;
    margin: 1.20% 15% 1.20% 15%;
    border-radius: 8px;
    background-color: #4287f5;
    box-shadow: 1px 1.75px 2.5px .5px #6e6c65;
    cursor: pointer;
}

.plus-icon {
    font-size: 32px;
    color: #000;
}

.flex-row-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-row-3>* {
    flex: 1 1 0;
}

.flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.yellow-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
}

.gray-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
}

.hoverZoom:hover {
    transform: scale(1.33);
}

/*-----*/
input.metronome-input {
    /*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*-----5/3/24 kg-------*/
button.round {
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

button.round:hover {
    background-color: #65b9e6;
}

button.round:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

button:active {
    filter: drop-shadow(5px 5px 20px #000000);
    /*box-shadow: 0 0 2px darkslategray;*/
    transform: translateY(2px);
}

/*-----------*/
