@model List<int>?

<body>
    <div id="MetronomeBackground">
        <button class="round"></button>
        <div id="metronomeField" class="mCard" style="border-radius:50%">
            <div class="flex-row-3">
                <button id="decrease" class="plus-icon hoverZoom">&minus;</button>
                <div id="bpmField" class="metronome-display">60 BPM</div>
                <button id="increase" class="plus-icon hoverZoom">&plus;</button>
            </div>
            <div class="controls flex-row-3">
                <button id="start" class="hoverZoom">Start</button>
                <button id="stop" class="hoverZoom" disabled>Stop</button>
            </div>
            <div id="timer" class="mCard" style="border-radius:50%">00:00</div>
        </div>
        <div id="preferenceField"class="mCard" hidden>
		    <div>Preference Field</div>
            @{
                if(Model.Any()){
                   
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="flex-row-3">
                            <form asp-action="Set" method="post">
                                <input id="bpmToSave" name="bpmToSave" value="" hidden />
                                <input id="one" type="submit" class="hoverZoom" value="&plus;" />

                            </form>
                            <form asp-action="Delete" method="post">
                                <input name="bpmToDelete" value="@i" hidden />
                                <input id="two" type="submit" class="hoverZoom" value="&minus;" />
                            </form>
                            <button class="">@Model[i] BPM</button>
                        </div>
                    }
				}
            }
		    </div>
            
        <div class="rCard">
            <button style="margin: .1em" class="hoverZoom" onclick="toggleSettings()">&#9881;</button>
        </div>
        </div>

    <script src="./js/Metronome.js"></script>
    </div>

</body>
