@model List<int>?
<div class="metronome-body">
    <div id="MetronomeBackground">
        <button class="round" hidden></button>            
            <div id="metronomeField" class="" style="border-radius:50%; justify-content:center;">
                <div class="flex-row-3" style="">
                <button id="increase" class="round" style="font-size:2em;">&plus;</button>
                    <input id="bpmField" class="metronome-display cCard" style="text-align:center;" value="60 BPM"/>
                <button id="decrease" class="round" style="font-size:2em;">&minus;</button>
                </div>
                <div class="flex-row-3">
                <button id="start" class="round" style="font-size:2em;">Start</button>
                <div id="timer" class="mCard" style="border-radius:50%; width:120px; font-size:2em;">00:00</div>
                <button id="stop" class="round" style="font-size: 2em;">Stop</button>
                </div>
            </div>  
            <div id="preferenceField" class="mCard" style="border-radius:50%; width:40%; margin:auto;" hidden>
                @{
                    if (Model.Any())
                    {
                        <div>Pre-Sets</div>
                        <form asp-action="Set" method="post">
                            <input id="bpmToStore" name="bpmToSave" value="" hidden />
                            <input id="one" type="submit" class="" style="border: 0;" value="Add" />

                        </form>
                        for (int i = 0; i < Model.Count; i++)
                        {
                        <div class="" style="display:flex;flex-direction:row;justify-content:center;border-radius:50%;margin:.25em;">
                                <form asp-action="Delete" method="post">
                                    <input name="bpmToDelete" value="@i" hidden />
                                    <input id="two" type="submit" class="" style="border: 0;" value="Del" />
                                </form>
                                <button style="padding-left:1em" id="" class="" onclick="handleSetBpm(event)">@Model[i] BPM</button>
                            </div>
                        }
                    }
                }
            </div>
        <button style="width:3em;left:10px;top:10%; position:absolute; font-size:2em;" class="round" onclick="toggleSettings()">&#9778;</button>
    <script src="./js/Metronome.js"></script>
    </div>
</div>